<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <script type="application/javascript">
        // `energy_type` and object of consumption per year per state => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var energy_type = {{{ ENERGY_TYPE }}};
        var energy_counts = {{{ ENERGY_COUNTS }}}; // dictionary of arrays (e.g. {AK: [...], AL: [...], AR: [...], ...})
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Simple Line Chart"
                },
                data: [{
                    type: "line",
                    indexLabelFontSize: 16,
                    dataPoints: [
                        { y: 450 },
                        { y: 414 },
                        { y: 520, indexLabel: "\u2191 highest", markerColor: "red", markerType: "triangle" },
                        { y: 460 },
                        { y: 450 },
                        { y: 500 },
                        { y: 480 },
                        { y: 480 },
                        { y: 410, indexLabel: "\u2193 lowest", markerColor: "DarkSlateGrey", markerType: "cross" },
                        { y: 500 },
                        { y: 480 },
                        { y: 510 }
                    ]
                }]
            });
            chart.render();

        }
    </script>
</head>

<body>
    <button type="button" class="button" href="/year/2018">HOME</button>
    <button type="button" class="button" data-toggle="offCanvas">STATE</button>
    <div class="off-canvas position-top" id="offCanvas" data-off-canvas>
        <ul class="menu vertical">
            {{{STATE_BUTTONS}}}

        </ul>
    </div><button type="button" class="button" data-toggle="offCanvas">YEAR</button>
    <div class="off-canvas position-top" id="offCanvas" data-off-canvas>
        <ul class="menu vertical">
            {{{YEAR_BUTTONS}}}
        </ul>
    </div>
    <button type="button" class="button" data-toggle="offCanvas">ENERGY SOURCE</button>
    <div class="off-canvas position-top" id="offCanvas" data-off-canvas>
        <ul class="menu vertical">
            <li><a href="/coal" target="_self">Coal</a></li>
            <li><a href="/natural_gas" target="_self">Natural Gas</a></li>
            <li><a href="/nuclear" target="_self">Nuclear</a></li>
            <li><a href="/petroleum" target="_self">Petroleum</a></li>
            <li><a href="/renewable" target="_self">Renewable</a></li>
        </ul>
    </div>


    <div class="grid-y">
        <div class="grid-x grid-padding-x grid-padding-x">
            <div class="cell small-auto medium-5 center">
                <br><br><br>
                <h1><b>{{{TOPENERGY}}}</b></h1>
            </div>
            <div class="cell small-auto medium-7 center">
                <br>
                <img src="{{{ENERGYIMG}}}" width="300" height="200" alt="Image of energy source" />
            </div>
        </div>
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <th>Year</th>
                {{{TABLEH}}}
            </tr>
        </thead>
        <tbody>
            {{{TABLEC}}}
        </tbody>
    </table>

    <a href="{{{PREV}}}" class="previous">&laquo; Previous</a>
    <a href="{{{NEXT}}}" class="next">Next &raquo;</a>
    <br>

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/vendor.js"></script>
    <script src="../js/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</body>

</html>