<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <script type="application/javascript">
        
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Energy Consumption by State"
                },
                axisX: {
                    title: "Year",
                    valueFormatString: "####"
                },
                axisY: {
                    title: "Total Consumption"
                },
                toolTip: {
                    shared: true
                },
                data: [{{{ENERGY_DATA}}}]
            });

            chart.render();
        }
    </script>
</head>

<body>
    <a href="/year/2018" class="button">HOME</a>
    <button type="button" class="button" data-toggle="offCanvasState">STATE</button>
    <div class="off-canvas position-top" id="offCanvasState" data-off-canvas>
        <ul class="menu vertical center">
            <li>{{{STATE_BUTTONS}}}</li>
        </ul>
    </div><button type="button" class="button" data-toggle="offCanvasYear">YEAR</button>
    <div class="off-canvas position-top" id="offCanvasYear" data-off-canvas>
        <ul class="menu vertical center">
            <li>{{{YEAR_BUTTONS}}}</li>
        </ul>
    </div>
    <button type="button" class="button" data-toggle="offCanvasEnergy">ENERGY SOURCE</button>
    <div class="off-canvas position-top" id="offCanvasEnergy" data-off-canvas>
        <ul class="menu vertical center">
            <li><a href="/energy/coal" target="_self">Coal</a></li>
            <li><a href="/energy/natural_gas" target="_self">Natural Gas</a></li>
            <li><a href="/energy/nuclear" target="_self">Nuclear</a></li>
            <li><a href="/energy/petroleum" target="_self">Petroleum</a></li>
            <li><a href="/energy/renewable" target="_self">Renewable</a></li>
        </ul>
    </div>

    <div class="grid-y">
        <div class="grid-x grid-padding-x grid-padding-x">
            <div class="cell small-auto medium-5 center">
                <br><br><br>
                <h1><b>{{{TOPENERGY}}}</b></h1>
            </div>
            <div class="cell small-auto medium-7 center">
                <br>
                <img src="{{{ENERGYIMG}}}" width="300" height="200" alt="Image of energy source" />
            </div>
        </div>
    </div>
    <br><br>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <br><br>
    <div id="tableContainer">
        <table>
            <thead>
                <tr>
                    <th>Year</th>
                    {{{TABLEH}}}
                </tr>
            </thead>
            <tbody>
                {{{TABLEC}}}
            </tbody>
        </table>
    </div>
    <br>

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/vendor.js"></script>
    <script src="../js/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
    
    <a href="{{{PREV}}}" class="previous center">&laquo; Previous</a>
    <a href="{{{NEXT}}}" class="next center">Next &raquo;</a>
    <br><br>
</body>
</html>