<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>US Energy Consumption</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <script type="application/javascript">

    var state = '{{{STATE}}}';
    window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
	              animationEnabled: true,
	              title: {
                  text: "Energy Consumption by State - " + state
	              },
	              axisX: {
		                title: "Year"
	              },
	              axisY: {
		                title: "Percentage"
	              },
	              toolTip: {
		                shared: true
	              },
	              data: [
                {
		                type: "stackedArea100",
		                name: "Coal",
		                showInLegend: "true",
		                dataPoints: [
			                  {{{COAL_DATA}}}
		                ]
	              },
                {
		                type: "stackedArea100",
		                name: "Natural Gas",
		                showInLegend: "true",
		                dataPoints: [
			                  {{{NATURAL_GAS_DATA}}}
		                ]
	              },
                {
		                type: "stackedArea100",
		                name: "Nuclear",
		                showInLegend: "true",
		                dataPoints: [
			                  {{{NUCLEAR_DATA}}}
		                ]
	              },
                {
		                type: "stackedArea100",
		                name: "Petroleum",
		                showInLegend: "true",
		                dataPoints: [
			                  {{{PETROLEUM_DATA}}}
		                ]
	              },
                {
		                type: "stackedArea100",
		                name: "Renewable",
		                showInLegend: "true",
		                dataPoints: [
			                  {{{RENEWABLE_DATA}}}
		                ]
	              }]
            });
            chart.render();
        }
  </script>
</head>

<body>
  <a href="/year/2018" class="button">HOME</a>
  <button type="button" class="button" data-toggle="offCanvasState">STATE</button>
  <div class="off-canvas position-top" id="offCanvasState" data-off-canvas>
      <ul class="menu vertical center">
          <li>{{{STATE_BUTTONS}}}</li>

      </ul>
  </div><button type="button" class="button" data-toggle="offCanvasYear">YEAR</button>
  <div class="off-canvas position-top" id="offCanvasYear" data-off-canvas>
      <ul class="menu vertical center">
          <li>{{{YEAR_BUTTONS}}}</li>
      </ul>
  </div>
  <button type="button" class="button" data-toggle="offCanvasEnergy">ENERGY SOURCE</button>
  <div class="off-canvas position-top" id="offCanvasEnergy" data-off-canvas>
      <ul class="menu vertical center">
          <li><a href="/energy/coal" target="_self">Coal</a></li>
          <li><a href="/energy/natural_gas" target="_self">Natural Gas</a></li>
          <li><a href="/energy/nuclear" target="_self">Nuclear</a></li>
          <li><a href="/energy/petroleum" target="_self">Petroleum</a></li>
          <li><a href="/energy/renewable" target="_self">Renewable</a></li>
      </ul>
  </div>


  <h1 class="center">{{{TOPSTATE}}}</h1>
  <img class="imgcenter" src="{{{STATEIMG}}}" width="450" height="200" alt="Image of state" />
  <br><br>
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
  <br><br>
  <div class="grid-container" id="tableContainer">
    <table>
      <thead>
        <tr>
          <th class="center">Year</th>
          <th class="center">Coal</th>
          <th class="center">Natural Gas</th>
          <th class="center">Nuclear</th>
          <th class="center">Petroleum</th>
          <th class="center">Renewable</th>
          <th class="center">Total</th>
        </tr>
      </thead>
      <tbody>
        {{{TABLE}}}
      </tbody>
    </table>
  </div>
  <br><br>
  <a href="{{{PREV}}}" class="previous center">&laquo; Previous</a>
  <a href="{{{NEXT}}}" class="next center">Next &raquo;</a>
  <br><br>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/vendor.js"></script>
  <script src="../js/foundation.js"></script>
  <script type="application/javascript">
      $(document).foundation();
  </script>
</body>
</html>