<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <script type="application/javascript">
        // `year` and total counts for entire US => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var year = {{{YEAR}}};
        var coal_count = {{{COAL_COUNT}}};
        var natural_gas_count = {{{NATURAL_GAS_COUNT}}};
        var nuclear_count = {{{NUCLEAR_COUNT}}};
        var petroleum_count = {{{PETROLEUM_COUNT}}};
        var renewable_count = {{{RENEWABLE_COUNT}}};
        
        window.onload = function() {

          var chart = new CanvasJS.Chart("chartContainer", {
	          animationEnabled: true,
	          title: {
		          text: "Energy Consumption by Year - " + year
	          },
	          data: [{
		          type: "pie",
		          startAngle: 240,
		          yValueFormatString: "##0.00\"%\"",
		          indexLabel: "{label} {y}",
		          dataPoints: [
			          {y: coal_count, label: "Coal"},
			          {y: natural_gas_count, label: "Natural Gas"},
			          {y: nuclear_count, label: "Nuclear"},
			          {y: petroleum_count, label: "Petroleum"},
			          {y: renewable_count, label: "Renewable"}
		          ]
	          }]
          });
          chart.render();
        }
      
    </script>
  </head>
  <body><button type="button" class="button" href="/year/2018">HOME</button>
    <button type="button" class="button" data-toggle="offCanvas">STATE</button>
    <div class="off-canvas position-top" id="offCanvas" data-off-canvas>
        <ul class="menu vertical">
            {{{STATE_BUTTONS}}}

        </ul>
    </div><button type="button" class="button" data-toggle="offCanvas">YEAR</button>
    <div class="off-canvas position-top" id="offCanvas" data-off-canvas>
        <ul class="menu vertical">
            {{{YEAR_BUTTONS}}}
        </ul>
    </div>
    <button type="button" class="button" data-toggle="offCanvas">ENERGY SOURCE</button>
    <div class="off-canvas position-top" id="offCanvas" data-off-canvas>
        <ul class="menu vertical">
            <li><a href="/coal" target="_self">Coal</a></li>
            <li><a href="/natural_gas" target="_self">Natural Gas</a></li>
            <li><a href="/nuclear" target="_self">Nuclear</a></li>
            <li><a href="/petroleum" target="_self">Petroleum</a></li>
            <li><a href="/renewable" target="_self">Renewable</a></li>
        </ul>
    </div>


    <h1 class="center">{{{TOPYEAR}}}</h1>
    <div class="grid-container">
    <table>
        <thead>
          <tr>
            <th>State</th>
            <th>Coal</th> 
            <th>Natural Gas</th>
            <th>Nuclear</th> 
            <th>Petroleum</th>
            <th>Renewable</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {{{TABLE}}}
        </tbody> 
      </table>
    </div>
      <div id="chartContainer" style="height: 350px; width: 100%;"></div> 
      <a href="{{{PREV}}}" class="previous">&laquo; Previous</a>
      <a href="{{{NEXT}}}" class="next">Next &raquo;</a>

      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      <script src="../js/jquery-3.6.0.min.js"></script>
      <script src="../js/vendor.js"></script>
      <script src="../js/foundation.js"></script>
      <script type="application/javascript">
          $(document).foundation();
      </script>

      <br>
    </body>
</html>
